body {
    padding: 30px;
    background-color: darkslategray;
}

section {
    display: flex;
    gap: 10px;
    min-height: 80px;
    margin: 0;
    padding: 20px;
    background-color: cadetblue;
}

.book {
    display: none;
    padding: 20px;
    background-color: brown;
    color:antiquewhite;
}

.book p:first-child {
    margin-top: 0;
}