:root {
    --form-width: 300px;
    --form-height: 500px;
    --form-padding: 20px 40px;
}

body {
    padding: 30px;
    background-color: rgb(83, 63, 35);
}

h1 {
    color:aliceblue;
    text-align: center;
    margin: 0 auto 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 80px;
    margin: 0;
    padding: 20px;
    background-color: rgb(212, 161, 49);
}

.book {
    display: none;
    width: 100px;
    padding: 20px;
    border: 3px solid rgb(31, 28, 28);
    border-radius: 2px;
    background-color:rgb(83, 63, 54);
    color:rgb(250, 215, 222);
}

.book p:first-child {
    margin-top: 0;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

button.book-add {
    width: 100%;
    padding: 20px;
    border:none;
    box-shadow: 0 5px 6px rgba(0,0,0,0.3);
    margin: 15px auto auto;
    border-radius: 15px;
    background-color: rgb(115, 92, 117);
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}

.book-form {
    display: block;
    position: fixed;
    margin: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(8, 9, 12, 0.582);
}

.book-form form {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(4, 30px 50px) 100px;
    box-sizing: border-box;
    position: fixed;
    width: var(--form-width);
    height: var(--form-height);
    top: 50%;
    right: 50%;
    margin-top: calc(var(--form-height)/-2);
    margin-right: calc(var(--form-width)/-2);
    padding: var(--form-padding);
    background-color:rgb(133, 119, 83);
    font-size: 18px;
    font-weight: bold;
}

form label, form input {
    margin: 0;
}

form>input {
    height: 30px;
    border-radius: 10px;
}